@{
    ViewBag.Title = "Contact";
}
<h2>The Mobile Company</h2>
<h5 style="float: right; display: inline-block;"> <img src="~/Content/Image/banner.png" /></h5>
<h3>Our Contact Page</h3>

<address>
    Old Airport<br />
    Doha, QA 7850-9610<br />
    <abbr title="Phone">P:</abbr>
    974.852.9631
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">support@support.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">marketing@marketing.com</a>
</address>

<h4>About Us</h4>
<p>Our mission is to be Earth’s most customer-centric company. The Mobile Company is guided by four principles: customer obsession rather than competitor focus, passion for invention, commitment to operational excellence, and long-term thinking. Customer reviews, 1-Click shopping, smartphones, tablets, and other mobile devices are some of the products and services pioneered by The Mobile Company.</p>

<h4>Website Authors:</h4>
<div class="row">
    <div class="col-md-4">
        <h5><strong>Name:</strong> Ali, Ali</h5>
        <h5><strong>Student ID:</strong> 60090791</h5>
    </div>
    <div class="col-md-4">
        <h5><strong>Name:</strong> Villanueva, Mary Rose</h5>
        <h5><strong>Student ID:</strong> 60097002</h5>
    </div>
    <div class="col-md-4">
        <h5><strong>Name:</strong> Tamayosa, Patrick Gerald</h5>
        <h5><strong>Student ID:</strong> 60097741</h5>
    </div>
</div>
